* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}

.btn {
    background: none;
    margin: 10px auto;
    display: block;
    padding: 15px 50px;
    border: 2px solid black;
    border-radius: 100px;
    font-size: 1.5em;
    font-weight: bold;
    max-width: 200px;
    outline: none;
    cursor: pointer;

}

.btn:hover {
    transition: .3s;
    background: #15cc97;
    color: #fff;
    border-color: #15cc97;
}

.container {
    display: flex;
    flex-wrap: wrap;

}

.box {
    background-color: #00ccff;
    width: 250px;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 20px solid #f5f5f5;
    color: #fff;
    font-size: 1.5em;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-weight: bold;
    border-radius: 100%;
    margin-bottom: 10px;
    margin-left: 20px;
    box-shadow: 13px 13px 20px #cbced1,
        -13px -13px 20px #fff;
}